* {
    margin: 0;
    text-decoration: none;
}

header {
    height: 100vh;
    background: url('/assets/fundo-header.png');
    background-size: cover;
}

.logo img,
.profile img {
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    margin: 0 15px;
}

ul li a {
    margin: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Onest", sans-serif;
}

ul li a.active {
    border-bottom: 3px solid #C898EC;
    color: #C898EC;
}

nav ul li a:hover {
    color: #C898EC;
}

.hero {
    color: white;
    text-align: center;
    bottom: 10vh;
}

.hero h1 {
    color: #F0F0FA;
    font-size: 80px;
    margin-top: 10%;
    margin-right: 30%;
    font-family: "Onest", sans-serif;
}

.hero button {
    border-radius: 2.5rem;
    padding: 1.25rem 2.5rem;
    background-color: transparent;
    color: white;
    border: 0.125rem solid white;
    margin-top: 10%;
}

.hero span {
    text-decoration: solid underline #C898EC 5px;
    border-radius: 10px;
}

.hero p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-family: "Onest", sans-serif;
    margin-top: 10%;
    margin-right: 30%; 
}

footer{
    background-color: black;
    height: 30vh;
    color: whitesmoke;
}