body {
  margin: 0;
}

.cor1, .cor2 {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cor1 {
  background-color: #ffcc00;
  position: relative;
}

.cor2 {
  background-color: #3399ff;
}

.v {
  width: 0;
  height: 0;
  /* larguras */
  border-left: 50vw solid transparent;  
  border-right: 50vw solid transparent; 
  /* Altura e cor */
  border-top: 50px solid #ffcc00; 
  position: absolute;
  /* sobrepoe a parte debaixo */
  bottom: -50px; 
}
